/*全局样式*/
body {
	/*background:url('MEDIA/background_mp4.mp4') no-repeat;*/
	margin:0;
	padding: 0;
	font-size: 14px;
}

/*背景视频*/
video {
	position: fixed;
	right:0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height:auto;
	z-index: -9999;
	/*-webkit-filter:grayscale(100%);*/  /*将图片/视频以灰色形式呈现*/
}

/*半透明遮盖层*/
.mask_index {
	width: 100vw;
	height:100vh;
	/*background:url(IMG/background_img_index.png) #fff no-repeat cover;*/
	background-image: url(../IMG/background_img_index.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    overflow: hidden;
    position: relative;
	/*opacity:0.8;
	filter:Alpha(opacity=80); *//* IE8 以及更早的浏览器 */
}

/*导航栏*/
.navbar_mike {
	background-color:transparent;
	font-size: 20px;
}
.icon-bar {
	background-color:black;
}
.nav.navbar-nav {
    outline: 2px dashed #000;
    outline-offset: 10px;
}
.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:active,
.nav.navbar-nav > li > a:focus {
	background-color: transparent;
}
.nav.navbar-nav > li, .nav.navbar-nav > li > a {
    overflow: hidden;
    position: relative;
}
.nav.navbar-nav > li:hover:before,
.nav.navbar-nav > li:hover:after,
.nav.navbar-nav > li > a:hover:before,
.nav.navbar-nav > li > a:hover:after {
	transform: none;
}
.nav.navbar-nav > li:before {
    transform: translate(100%);
}
.nav.navbar-nav > li:after {
    bottom: 0;
    transform: translate(-100%);
}
.nav.navbar-nav > li:before, .nav.navbar-nav > li:after {
    left: 0;
    width: 100%;
    height: .125em;
}
.nav.navbar-nav > li > a:before {
	left: 0;
    transform: translateY(-100%);
}
.nav.navbar-nav > li > a:after {
	right: 0;
    transform: translateY(100%);
}
.nav.navbar-nav > li > a:before, .nav.navbar-nav > li > a:after {
	top: 0;
    width: .125em;
    height: 100%;
}
.nav.navbar-nav > li:before,
.nav.navbar-nav > li:after,
.nav.navbar-nav > li > a:before,
.nav.navbar-nav > li > a:after {
    position: absolute;
    background: currentColor;
    transition: .3s;
    content: "";
}

/*内容主体*/
#blog_center, #work_center, #resume_center {
	position: absolute;
	top:150%;
	left: 50%;
	margin-left: -40vw;
	margin-top: -35vh;
	width:80vw;
	height:75vh;
	overflow-y: auto;
}

/*博客模块*/
#blog_center .blog_board {
	height: auto;
	color: #fff;
	background-color: rgba(243, 25, 25, 0.51);
    border-radius: 5px;
    height:auto;
    overflow-y: auto;
}
#blog_center .blog_board article {
	border-bottom: 2px dashed #fff;
}
#blog_center .blog_board article:last-child {
	border-bottom: 0;
}
#blog_center .blog_board article section {
	margin:10px 0;
}
#blog_center .blog_board article span {
	float: right;
}

/*作品模块*/
#work_center .basic_work {
	background-color: red;
	color:#fff;
	background-clip: content-box;
	text-align: center;
	line-height: 100px;
	height:100px;
	margin-bottom: 30px;
	position: relative;
}
#work_center .basic_work:after {
	display: none;
	content: '作品截图';
	font-size: 200%;
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 0;
	left: 15px;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	cursor: pointer;
}
#work_center .basic_work:hover:after {
	display: block;
}
#work_center .basic_work:first-child {
	background-image: url(../IMG/design_work.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#work_center .basic_work:nth-child(2) {
	background-image: url(../IMG/bookmark.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#work_center .basic_work:nth-child(3) {
	background-image: url(../IMG/003.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#work_center .basic_work:nth-child(4) {
	background-image: url(../IMG/004.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/*简历模块*/
#resume_center {
	background-color: #eee;
	border-radius: 5px;
}
#resume_center .basic_resume {
	padding:10px 15px;
	text-align: left;
}
#resume_center .work_experience {
	color:blue;
}
#resume_center i {
	top: 3px;
}

/*页脚分享链接*/
footer {
	position: absolute;
    top: 50%;
    margin-top: -100px;
}
footer .icon_multi {
	/*margin: 0 auto;
	width: 288px;
	height: 32px;*/
}
footer .icon_multi ul {
	list-style-type: none;
	padding: 0;
}
footer .icon_multi ul li {
	/*float: left;*/
	width: 56px;
	height: 50px;
}
footer .icon_multi ul li:first-child {
	background: url(../IMG/third_logo_sina.png) center center no-repeat;
}
footer .icon_multi ul li:first-child:hover {
	background: url(../IMG/third_logo_sina_col.png) center center no-repeat;
}
footer .icon_multi ul li:nth-child(2) {
	background: url(../IMG/third_logo_tecent.png) center center no-repeat;
}
footer .icon_multi ul li:nth-child(2):hover {
	background: url(../IMG/third_logo_tecent_col.png) center center no-repeat;
}
footer .icon_multi ul li:nth-child(3) {
	background: url(../IMG/third_logo_wechat.png) center center no-repeat;
}
footer .icon_multi ul li:nth-child(3):hover {
	background: url(../IMG/third_logo_wechat_col.png) center center no-repeat;
}
footer .icon_multi ul li:last-child {
	background: url(../IMG/third_logo_space.png) center center no-repeat;
}
footer .icon_multi ul li:last-child:hover {
	background: url(../IMG/third_logo_space_col.png) center center no-repeat;
}
footer .icon_multi ul li a {
	width: 100%;
	height: 100%;
    display: inline-block;
}

/*媒体查询*/
/*屏幕宽度小于400px时，隐藏分享按钮*/
@media (max-width: 400px) {
	.icon_multi {
		display: none;
	}
}
@media (max-width: 768px) {
	nav.navbar_mike ul {
		width: 100%;
	}
	nav.navbar_mike ul li:hover, nav.navbar_mike ul li:focus {
		background-color: rgba(241, 252, 29, 0.5);
		outline: none;
	}
}

.container.prowl_car_index li{
	line-height: 1.5em;
}
.container.prowl_car_index li a {
	font-size: 1.15em;
	cursor: pointer;
}